body {
    color: dimgrey;
    font-size: 18px;
}

.navItemWrap a {
    color: dimgrey;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navItemWrap a:hover .navItemWrap a:visited .navItemWrap a:active {
    color: #95813c;
    text-decoration: underline;
}

.ordersTableWrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 50px auto;
    font-size: 18px;
}

.ordersTableWrapper form {
    margin-bottom: 60px;
}

.ordersSearchForm {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 40px;
}

.ordersSearchForm div {
    margin: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 5%;
}

.submitBtnWrap {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
}
.submitBtn {
    display: flex;
    width: 130px;
    padding: 5px;
    justify-content: center;
    font-size: 18px;
    background: darkgoldenrod;
    border: dimgrey solid 2px;
    border-radius: 5px;
}

.submitBtn:hover, .submitBtn:active {
    background: goldenrod;
    cursor: pointer;
}

.logOutBtn {
    width: 100px;
    padding: 10px;
}

.editBtn {
    font-size: 16px;
    width: 100px;
    padding: 5px;
}

h1 {
    text-align: center;
}

nav {
    display: inline-flex;
    background: darkgoldenrod;
    border: 3px solid dimgrey;
    border-radius: 5px;
}

.navItemWrap:hover {
    background: goldenrod;
}

.navItemWrap a {
    display: block;
    height: 30px;
    padding: 5px 20px;
    color: #3d3939;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}

.goodsTableWrapper {
    width: 60%;
    margin: 50px auto;
}

table {
    border-collapse: collapse;
}

table td {
    border-left: solid 2px grey;
}

table th, td {
    text-align: start;
}

table td:first-child {
    border: none;
}

.goodEditFormWrap {
    margin: 30px auto;
    width: 30%;
    padding: 25px;
    border: solid 3px dimgrey;
    border-radius: 8px;
}

.goodEditForm {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.goodEditForm input, .goodEditForm select {
    margin-bottom: 10px;
}

.goodEditForm input, .goodEditForm select, .goodEditForm label {
    font-size: 18px;
}

.goodEditForm label {
    margin-left: 5px;
}

.advertsSelect {
    width: 50%;
    min-width: 200px;
}
